body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 99vw;
    margin: 0px;
    padding: 0px;
    background-color: beige;
    box-sizing: border-box;
}


.profileimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profileimg:hover {
    box-shadow: 0 4px 20px black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 40px;

}

/* Navbar Styling */

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 80px;
    background-color: #16a34a;
    color: beige;
    width: 100%;
}

.webname {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.webname h3:hover {
    text-shadow: 0 4px 20px white;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbtn {
    background-color: beige;
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    margin: 8px;
    color: #16a34a;
    padding: 8px 10px;
    font-weight: bold;
    transition: 0.5s;
    transition: 0.5s;
}

.navbtn:hover {
    transform: scale(1.1);
}

/* index page css */

.fdiv {
    background-color: beige;
    padding: 25px;
    text-align: center;

}

.Secondlife {

    margin: 10px;
}

.para1 {
    margin: 3rem;

}

.contro {
    display: inline-block;
    text-decoration: none;
    background-color: #16a34a;
    border: none;
    padding: 5px;
    color: beige;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    transition: 0.5s;
    padding: 10px 15px;

}

.contro:hover {
    transform: scale(1.2);
    background-color: #20a854;
}

.div2 {
    /* margin-left: -5.7rem; */
    width: 99vw;
    text-align: center;
    background-color: #16a34a;
    padding: 25px;
}

.div3 {
    background-color: beige;
    border-radius: 30px;
    padding: 15px;
    margin: 2rem;
    /* height: 18rem; */
    /* animation: slide 1s ease-in;
    animation-delay: 2s; */

}

.div3 p,
h1 {
    text-align: center;
    margin: 2rem;
}

.camera {
    height: 100px;
    width: 100px;

}

/* Footer Styling */

/* .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.f-info-links,
.f-info-socials {
    width: 100%;
}

.f-info-links {
    margin-bottom: 3rem;
}

.f-info-socials {
    margin-top: 1.8rem;
}

.f-info-socials a {
    text-decoration: none;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: white;
    opacity: 0.8;
}

.f-info-socials i:hover {
    opacity: 2;
    cursor: pointer;
}

.credits {
    margin-top: 1rem;
    font-size: larger;
}

.f-info-links a {
    text-decoration: none;
    color: white;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    display: flex;
    height: 10rem;
    background-color: #16a34a;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Contribute Page Styling */

.containerGreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 6px beige;
}

.header {
    display: flex;
    justify-content: center;
    color: green;
}

.formGreen {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(121, 121, 121);
}

.form-check {
    display: flex;
    justify-content: space-evenly;
}

#map {
    height: 80vh;
    width: 50vw;
}

/* Uploads Page  */
.index-img {
    height: 15rem;
}

.listing-card {
    border: none;
    margin-bottom: 2rem;
    background-color: beige;
}

.upload-card {
    border: none;
    margin-bottom: 2rem;
    background-color: beige;
    cursor: pointer;
}

.card-img-top {
    /* margin-top: 0.8rem; */
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.upload-card .index-img:hover {
    border: 2px solid #16a34a;
    border-radius: 1rem;
}

.card-body {
    padding: 0;
    background-color: beige;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Show Page Styling */

.show-img {
    height: 50vh;
}

#showmap {
    height: 80vh;
    width: 42.5vw;
}

/* profile page css */
.b {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100vw;
}

.box1 {
    text-align: center;
    margin: 1rem;
}

.box1 img {

    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.proopt {
    display: flex;
    justify-content: space-evenly;
}

.prodes {
    text-decoration: none;
    color: black;
}

.box2,
.box3,
.box4,
.box5 {
    text-align: center;
    background-color: #16a34a;
    border-radius: 30px;
    padding: 40px 70px;
    width: 45%;
    MARGIN: 2REM;
}

.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
    box-shadow: 10px 10px 20px burlywood;
}


.headings {
    color: darkgreen;

}

.description {
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 40px;
    padding: 2rem;
    font-size: 20px;
}

.description:hover {
    box-shadow: 15px 10px 20px burlywood;
}

.box6 {
    text-align: center;
    background-color: lightgreen;
    border-radius: 30px;
    padding: 40px 70px;
    width: 95%;
    MARGIN: 2REM;

}

.forms {
    width: 45%;
    margin: 1rem;
    border-radius: 40px;
}

.updatebtn {
    border-radius: 40px;
    background-color: darkgreen;
    width: 90%;
    margin: 0.5rem;
    font-size: 20px;
}

/* profile pagecss end 
sign up page Start*/

.sl {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F0FFFF;
    width: 100vw;
}

.maindiv {
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;

    border-radius: 1rem;
    box-shadow: 0 15px 15px #16a34a;
}

.maindiv h1 {
    font-weight: bold;
    font-size: 25px;
    color: #16a34a;
}

.inputfield {
    width: 95%;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.signup,
.login {
    background-color: #16a34a;
    font-weight: bold;
    font-size: 18x;
    border-radius: 3rem;
    margin: 1.2em;
    padding: 5px 20px;
    color: white;
    border: none;
}

.signup:hover,
.login:hover {
    background-color: rgb(49, 84, 49);
}

/* Notification Page Styling */

.msgcard {
    background-color: white;
}

/* Dashboard Page Styling */
.user-card {
    border: none;
    margin-bottom: 2rem;
    background-color: beige;
    border-radius: 1rem;
    margin-right: 2%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-top {
    margin-top: 0.8rem;
}

.user-img {
    height: 15rem;
    border-radius: 1rem;
}

.user-text {
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

/* Animations */
/* media query */
@media(max-width:410px) {
    .foot {
        font-size: 17px;
    }

    .box .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proopt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vh;
    }

    .row {
        margin-left: -12.5rem;
        width: 190vw;
    }

    #showmap {
        height: 50vh;
        width: 100%;
    }

    #map {
        height: 50vh;
        width: 100%;
    }

    .navbar-brand {
        margin-top: auto;
        margin-right: auto;
    }

    .description {
        width: 60vw;
        margin-left: -1.5rem;
    }

    .upload-card {
        width: 80vw !important;
        margin-left: 13rem !important;
    }
}